- content_for :right_panel do
  .profile.panel_block.d-flex.justify-content-center.text-center
    .profile__lables.d-flex.flex-column.my-2
      = user_avar(@user)
      = @user.nick
      = status_user(@user)
      - if user_signed_in?
        = link_to conversations_path(sender_id: current_user.id, receiver_id: @user.id), method: :post do
          %i.far.fa-envelope-open
      .label_information.d-flex.justify-content-around
        .karma
          Karma 
          %br
          #{@user.karma}
        .cake_day    
          Cake day 
          %br
          #{@user.created_at.to_date.strftime("%d %B, %Y")}