%h2 My direct messages
- @mails.each do |mail|
  %div{ class: "mail-#{mail.id} row mb-3" }
    .mail__sender.col-2.text-center
      = render 'shared/message_sender', object: mail 
    .mail__content.col-10
      .mail__infoforamtion
        %small Wrote: #{time_ago_in_words(mail.created_at)}
        = link_to raw('<i class="fas fa-times"></i>'), user_mail_boxes_direct_message_path(current_user.id, mail.id), method: :delete, data: { confirm: 'Do you want delete message' }
      = mail.body