- if user_signed_in? && current_user.voted_up_on?(post)
  = link_to  up_voted_post_path(post) do
    %i.fas.fa-chevron-up.text-success
- else
  = link_to  up_voted_post_path(post) do
    %i.fas.fa-chevron-up
%hr
= post.cached_votes_total
%hr
- if user_signed_in? && current_user.voted_down_on?(post)
  = link_to  down_voted_post_path(post) do
    %i.fas.fa-chevron-down.text-danger
- else
  = link_to  down_voted_post_path(post) do
    %i.fas.fa-chevron-down