.content.px-2
  - if @posts.any?
    = render @posts
    = will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center)
  - else
    %h2 Don't find post
- content_for :right_panel do
  .panel_block.mb-3.p-2
    Your personal Poster frontpage. Come here to check in with your favorite communities.
    = link_to 'Create Post',  new_post_path, class: 'btn btn-primary btn-lg btn-block'
  .panel_block.d-flex.flex-column.mb-3.p-2
    %strong.text-center TRENDING COMMUNITIES
    - @communities.each do |community|
      .community.d-flex.justify-content-start
        .community__image_name
          = image_tag community.image.url(:mini) if community.image?
          = link_to community.name, community_path(community)
          %br
          %small #{community.subscribes.size}  subscribers
        .community__button.ml-auto
          = button_to 'SUBSCRIBE',  subscribes_path, params: { community_id: community.id }, class: 'btn btn-primary'
  .panel_block.d-flex.flex-column.p-2
    .footer__link.d-flex.flex-row.mx-auto
      .column-1.d-flex.flex-column.pr-3
        = link_to 'About', about_path
        = link_to 'Careers', '#'
        = link_to 'Press', '#'
      .column-2.d-flex.flex-column
        = link_to 'Blog', '#'
        = link_to 'Help', '#'
    .copyrating.pt-3.d-flex.flex-column.text-center
      = link_to 'Content Policy', '#'
      = link_to 'User Agreement', '#'
      &copy  #{Time.now.year} Reddit, Inc. All rights reserved
      %small
        %b TRAINING APPLICATION