.row
  .col-6.offset-md-3
    .post
      .post__header
        = @post.community.name + ' Published by ' + @post.user.nick + ' ' + time_ago_in_words(@post[:created_at])
      .post__body
        = image_tag @post.image.url(:thumb), class: 'img-thumbnail' if @post.image?
        - if owner(@post)
          = link_to "Edit", edit_post_path(@post), class: "button"
          = link_to 'Delete', post_path(@post), method: :delete, class: 'button'
        <br>
    .comment_block
    - if user_signed_in?
      %h2 Create commit
      = render 'comments/form'

      = render 'comments/index', locals: { commentable: @post }
