- if @community.posts.any?
  = render @community.posts
- else
  %h2 Don't find post
- content_for :right_panel do
  .panel_block.community_details.mb-2
    .community_details__header.text-center
      COMMUNITY DETAILS
    .community_details__main-block.d-flex.flex-column.p-2
      = @community.name
      = button_to 'SUBSCRIBE',  subscribes_path, params: { community_id: @community.id }, class: 'btn btn-primary btn-lg btn-block'
      .main_block__information.d-flex.flex-row.justify-content-around
        .information__subcribes.d-flex.flex-column
          = @community.subscribes.size
          %small Subscribers
        .information__posts.d-flex.flex-column
          = @community.posts.size
          %small Posts
      = link_to 'View Subscribers', subscribers_community_path, class: 'text-muted'
      - if user_signed_in? && ( @community.owner?(current_user) || current_user.admin? )
        .community__buttoms
          = link_to 'Edit', edit_community_path(@community)
          = link_to 'Destory', community_path(@community), method: :delete, data: { confirm: "Do you want delete #{@community.name}" }
  .panel_block.community_rules.mb-2.pb-1
    .community_rulex_hader.text-center
      COMMUNITY DETAILS
    .communtiy_rules_list.px-1
      %ol
        -@rules.each do |rule|
          %li
            %strong= rule.title
          = rule.text
  .panel_block.community_moderation.pb-1
    .community_moderation__header.text-center
      MODERATORS
    .community_moderation_list.px-1
      -@admins.each do |admin|
        =admin.user.nick