<!DOCTYPE html>
<html>
  <head>
    <title>Poster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 ">
        <%= link_to 'Poster', root_path, class: 'navbar-brand my-0 font-weight-normal ' %>
        <%= simple_form_for( :search, method: :get, url: posts_path, html: { class: 'form-inline mr-auto' } ) do |f| %>
          <%= f.input :search_text, label: false %>
          <%= f.button :submit, 'Search', class: 'btn' %>
        <% end %>
        <nav class="my-2 my-md-0 mr-md-3">
          <%= link_to new_post_path, class: 'p2 btn' do %>
            <i class="fas fa-edit"></i> <% end %>
          <% if user_signed_in? %>
            <%= link_to conversations_path, class: 'p2 btn' do %>
              <i class="far fa-envelope-open"></i> <% end %>
            <div class="dropdown" style="float: right;">
              <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= mini_avatar(current_user) %> <%= current_user.nick %>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to 'Profile', user_profile_path(current_user), class: 'dropdown-item' %>
                <%= link_to 'Create community', new_community_path, class: 'dropdown-item' %>
                <%= link_to "User Setting", edit_user_registration_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to destroy_user_session_path(current_user), method: :delete, class: 'dropdown-item' do %>
                  <i class="fas fa-sign-out-alt"></i> Log Out <% end %>
              </div>
            </div>
          <% else %>
            <%= link_to 'SIGN IN', new_user_session_path,  class: 'btn my-blue-btn p2' %>
            <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-primary p2' %>
          </div>
      <% end %>
        </nav>
    </header>
         <!-- Flash messages block -->
        <%= render 'shared/flash_messages'%>
      <!-- Flash messages block -->
      <div class="d-flex justify-content-center py-1">
        <div class="left-panel px-2">
          <%= yield :left_panel %>
        </div>
        <div class="content px-2">
           <%= yield %>
        </div>
        <div class="right-panel px-2">
          <%= yield :right_panel %>
        </div>
      </div>
  </body>
</html>
